<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206984009123-oddov2518bbpsl5p435t5nt0qfqlr5tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206984009123-oddov2518bbpsl5p435t5nt0qfqlr5tl</string>
	<key>API_KEY</key>
	<string>AIzaSyCH77XBUn-5qhr1c6TcVMUI0b8fHJy30eY</string>
	<key>GCM_SENDER_ID</key>
	<string>206984009123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---github.com-bosunKwak.chatting</string>
	<key>PROJECT_ID</key>
	<string>chatting-aeed0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-aeed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206984009123:ios:6f28d552a46fa4aab4b616</string>
</dict>
</plist>